.main-header {
  width: 290px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}
.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 340px;
}
.main-header__logo img {
  width: 84px;
  height: 16px;
}
.main-header__city {
  margin: 0;
}
.main-header__phone {
  display: none;
}
@media (min-width: 1200px) {
  .main-header {
    width: 1140px;
    margin: auto;
    padding-top: 38px;
    padding-bottom: 38px;
  }
  .main-header__wrapper {
    align-items: center;
  }
  .main-header__logo img {
    width: 128px;
    height: 23px;
  }
  .main-header__city {
    display: none;
  }
  .main-header__profile {
    display: none;
    margin-top: 38px;
    margin-bottom: 38px;
  }
  .main-header__phone {
    display: block;
    margin: 0;
  }
  .main-header__phone-note {
    color: #b3b3b3;
  }
}
